{% extends "cabanas/layout.html" %} 
{% block titulo %}Iniciar Sesión{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-lg-8">
            <div class="card p-5 rounded-3 shadow-lg">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="pb-4 h-title h1 fw-normal">Iniciar Sesión</div>
                    </div>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-text"><i class='iconos-size bx bxs-user-circle'></i></div>
                                <input type="text" class="form-control" name="username" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-text"><i class='iconos-size bx bxs-lock-alt'></i></i></div>
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" >
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="Submit" class="mt-3 btn-sample btn">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}