{% extends "cabanas/layout.html" %}
{% block titulo %}Editar Perfil{% endblock %}
{% block nombreApartado %}Editar Perfil{% endblock nombreApartado %}
{% load static %}
{% block contenido %}
<div class="text-center">
  <img class="rounded-circle" width="300" height="300" src="{% static 'admin_users/images/icono_perfil.webp' %}" />
  <form action="#" method="get" class="row gy-2 gx-3 align-items-center d-flex justify-content-center">
    <div class="col col-md-6">
      <div class="input-group">
        <div class="input-group-text"><i class='iconos-size bx bxs-user-circle'></i></div>
        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Nombre(s)">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-text"><i class='iconos-size bx bxs-user-circle'></i></div>
        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Apellidos">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-text"><i class='iconos-size bx bxs-phone'></i></div>
        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Teléfono">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-text"><i class='iconos-size bx bxs-envelope'></i></div>
        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Correo Electrónico">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-text"><i class='iconos-size bx bxs-envelope'></i></div>
        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Correo Electrónico">
      </div>
    </div>
  </form>
  <button type="submit" form="form1" value="Submit" class="mt-3 btn-sample btn mb-3">Editar</button>
</div>
{% endblock %}