{% extends "cabanas/layout.html" %} 
{% block titulo %}Contáctanos{% endblock %}
{% block estadoContacto %}active{% endblock %}

{% block contenido %}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 rounded-3 shadow-lg">
          <div class="card-body p-4">
            <div class="text-center">
              <div class="h-title h1 fw-normal">Contáctanos</div>
            </div>
            <p class="mb-4 text-muted">Escriba un comentario sugerencia.</p>
            <form action="#" method="get" id="contactForm" data-sb-form-api-token="API_TOKEN">

              <!-- Mensaje Input -->
              <div class="form-floating mb-3">
                <textarea class="form-control" id="message" type="text" placeholder="Escriba aquí..." style="height: 10rem;" data-sb-validations="required" required></textarea>
                <label for="message">Mensaje</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">Se requiere un mensaje para enviar.</div>
              </div>
              <!--Botón-->
              <div class="text-center">
                <button type="submit" data-bs-toggle="modal" data-bs-target="#modalContacto" form="contactForm" value="Submit" class="btn-sample btn">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
<!-- Modal -->
<div class="modal fade" id="modalContacto" tabindex="-1" aria-labelledby="modalContacto" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContacto">¡Gracias por tus comentarios!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Los tomaremos en cuenta.
      </div>
      <div class="modal-footer">
        <button type="button" class="border-0 btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="border-0 btn-sample btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}