{% extends "cabanas/layout.html" %}
{% block titulo %}{{cabanas.nombre}}{% endblock %}
{% block nombreApartado %}{{cabanas.nombre}}{% endblock nombreApartado %}
{% load static %}
{% block contenido %}

<!--Carousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'cabanas/images/fondo_contacto.jpg' %}" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static 'cabanas/images/fondo_registro.png' %}" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static 'cabanas/images/cabana.jpg' %}" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
<!--/Carousel-->
<!--Descripción  general de la cabaña-->
<div class="d-flex bd-highlight">
  <p class="h3 fw-light w-100 bd-highlight my-2">{{cabanas.ubicacion}}</p>
  <form action="{% url "Rentar_Cabana" %}" id="renta" method="get">
    <button type="submit" form="renta" value="Submit" class="btn-sample btn mb-3 px-5 my-2">Rentar</button>
  </form>
</div>
<p class="card-text"><b>Anfitrión: </b> {{cabanas.anfitrion}} <br> <b>Costo por noche: </b>${{cabanas.costo_noche}} MXN. <br> <b>Puede albergar: </b> {{cabanas.capacidad}} personas. <br> <b>Número de Camas: </b>{{cabanas.camas}} camas.</p>
<!--Descripción  general de la cabaña-->

<!--Servicios-->
<div class="card p-3">
  <div class="card-body">
    <div class="text-center">
      <h1 class="mb-2 h-title text-center h1 fw-normal">Servicios</h1>     
    </div>
     {{cabanas.servicios|safe}} 
     <!--Con |safe indicamos a Django que este campo(SERVICIOS) es seguro y debe interpretarse como HTML-->
  </div>
</div>
<hr>
<!--/Servicios-->

<!--Descripción apartado de comentarios-->
<p class="h3 fw-light w-100 bd-highlight my-2">Comentarios</p>
<p>Describe tu experiencia durante tu estadía en la cabaña.</p>
<!--/Descripción apartado de comentarios-->

<!--Input Comentario-->
<div class="ratings pb-3">
  <i class="fa fa-star rating-color"></i>
  <i class="fa fa-star rating-color"></i>
  <i class="fa fa-star rating-color"></i>
  <i class="fa fa-star rating-color"></i>
  <i class="fa fa-star"></i>
</div>
<div class="input-group">
  <input type="text" class="form-control border-end-0 border" placeholder="Escribe aquí...">
  <button type="button" class="btn btn-outline-secondary border-start-0 border" type="button"><i class='bx bx-sm bxs-send'></i></button>
</div>
<!--/Input Comentario-->

<!--Comentario-->
<div class="d-flex align-items-start mt-3">
  <div class="flex-shrink-0">
    <i class='bx bx-lg bxs-user-circle' style="color: #1c5052"></i>
  </div>
  <div class="flex-grow-1 ms-3">
    <div class="d-flex align-items-center mb-2">
      <b>José Rodríguez </b>
      <b class="px-2"> • </b>
      <div class="ratings">
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <p class="mb-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolorum non necessitatibus quasi, dignissimos veniam quaerat esse excepturi accusantium amet cupiditate architecto a! Ipsum eos maiores nisi esse sapiente officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nostrum vitae totam illo nobis consequatur esse molestias voluptas quo consequuntur, dolores, aspernatur obcaecati porro? Eaque error nesciunt dolorem reiciendis quasi!
    </p>
  </div>
</div>
<!--/Comentario-->
{% endblock %}